.liked {
  width: 250px;
}

.notLiked {
  width: 150px;
}

.characterContainer {
  display: flex;
  background-color: cadetblue;
}

.dead {
  filter: grayscale(100%);
}

.card {
  margin: 1rem;
  padding: 1rem;
  background-color: #f0e14a;
  width: 12rem;
  height: 22rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  padding: 1rem;
}

.name {
}

.typeContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* border: 0.1rem black solid; */
}

.nameContainer {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(2, 1fr);
}

.typeText {
  /* background-color: red; */
}

.name h2 {
  padding: 0.75rem;
}
