.liked {
  width: 250px;
}

.notLiked {
  width: 150px;
}

.card {
  margin: 1rem;
  padding: 1rem;
  background-color: #f0e14a;
  width: 12rem;
  height: 23rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
}

.dead {
  filter: grayscale(85%);
  background-color: rgb(212, 212, 212);
}

.unknown {
  background-color: #ece7a9;
}

.container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

.name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.typeContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
}

.nameContainer {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(2, 1fr);
  justify-content: start;
  align-content: start;
}

.typeText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.liked {
  background-color: #e4a788;
  filter: grayscale(0%);
}

.actions {
  display: flex;
  gap: 1rem;
}

.likeCount {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.facts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  margin-bottom: 0.25rem;
}

.choose {
  margin: 2rem;
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

select {
  width: 10rem;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.25rem;
  padding-left: 1.5rem;
  font-weight: 500;
  font-family: inherit;
  font-size: 1.6rem;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: white;
}

select:focus,
select:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

select:hover {
  border-color: #44281d;
}
